nav {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    align-items: center;
    padding: 5px;
    background-color: grey;
  
        .navsection {
            justify-content: space-between;
            grid-column: 2;
            grid-row: 1;
        }
  
        a {
            padding-right: 60px;
            height: 100%;
            text-decoration: none;
            color: $secondary-color;
            font-family: 'Open Sans', sans-serif;
        }
}