header {
    display: flex;
    margin: 0;
    padding: 0;
    height: 15vh;
    background-color: black;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
  
        .headsection {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-rows: 1fr;
  
                img {
                    grid-column: 2;
                    grid-row: 1;
                    margin: auto auto auto 0;
                }
  
                input {
                    grid-column: 2;
                    grid-row: 1;
                    justify-self: end;
                    border-radius: 50px;
                    height: 40px;
                    width: 170px;
                    background-color: black;
                    color: white;
                    margin: auto 0;
      
                    &::placeholder {
                        padding-left: 20px;
                        color: white;
                    }
                } 
        }
}