@import "variables";
@mixin cr-size() {
    grid-column:1;
    background-color: $article-color;
    height: 150px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@mixin cr1-size() {
    grid-column:2;
    width: 100%;
}
.sectionx {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(3, [row] auto );
}
.toprow {
    grid-row:1;
    @include cr1-size();
    justify-self: center;
}
.middlerow {
    @include cr1-size();
    grid-row:2;
    background-color: $article-color;
    height: 300px;
    justify-self: center;
    margin-left: 0;
}
.bottomrow {
    display: grid;
    @include cr1-size();
    grid-row:3;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.c1r1 {
    grid-row:1;
    @include cr-size();
}
.c1r2 {
    grid-row:2;
    @include cr-size();
}
.c1r3 {
    grid-row:3;
    @include cr-size();
}
.c2r1{
    grid-row:1;
    @include cr1-size();
}
.c2r2 {
    grid-row:2;
    @include cr1-size();
}
.c2r3 {
    grid-row:3;
    @include cr1-size();
}