nav {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    align-items: center;
    padding: 5px;
    background-color: grey;
  
        .navsection {
            justify-content: space-between;
            grid-column: 2;
            grid-row: 1;
        }
  
        a {
            padding-right: 40px;
            height: 100%;
            text-decoration: none;
            color: $secondary-color;
            font-family: 'Open Sans', sans-serif;
        }

@media screen and (max-width:1090px) {
    .navsection {
        display: none;
    }
    menu {
        display: block;
        top:0;
        right:0;   
    }
    .ham-tab {
        background: black;
        display: block;
        height: 100vh;
        width: 50vw;
        top:0;
        right:-50vw;
        position: fixed;
    }
    .hamburger{
        background: url('./assets/menu.svg');
        height: 30px;
        width: 30px;
        background-size: 30px;
        display:block;
        position: absolute;
        cursor:pointer;
        top:1.5rem;
        right:1rem;
    }
    .ham-open{
        transform:translate(-50vw);  
     }
    .close {
        background: url('./assets/close.svg');
        height: 30px;
        width: 30px;
        background-size: 30px;
        display:block;
        position: absolute;
        cursor:pointer;
        top:.5rem;
        right:.5rem;
    }    
    .ham-links ul {
        display:flex;
        flex-direction: column;
    }
    .ham-links ul li {
        padding: 1rem;
    }
    .transition {
        transition-duration: .5s;
    }
}
}